.navbar
{
  color: white;
  background-color: rgb(175, 230, 175);
}

.fas
{
  margin-right: 1rem;
}

.fab
{
  margin-right: 1rem;
}

.jumbotron
{
    height: 600px;
  background-image: url("kitten.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titre
{
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.carousel-item {
  height: 700px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.btn
{
  color: white;
  background-color: rgb(175, 230, 175)
}

.img 
{
  height: 250px;
  width: 250px,
}

.bodybg
{
    background-color: rgb(255, 255, 255);
}

.cells
{
  color: rgb(175, 230, 175);
  background-color: rgb(248, 248, 248);
}

.nouveautés
{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.newsletter
{
  display: flex;
  margin-left: 40%;
  margin-top: 3rem;
  width: 20%;
  justify-items: center;
}
